#page-container {
    width:1000px;
    margin: 0 auto;
}

#image-container {
    float:left;
    padding-right: 10%;
}

#image{
    max-width: 100%;
    height: auto;
}

#product-title{
    padding-top: 6%;
}

#product-price{
    padding-top:1%;
}

#product-stock{
    padding-top: 2%;
}

#addtocart-button{
    padding-top: 3%;
}