h2{
    font-size: 2.5vw;
}
#page-container {
    width:100%;
    margin: 0 auto;
}

#image-container {
    float:left;
    padding-right: 10%;
    border-style: dashed;
    max-width: 50%;
}

#product-info-container {
    float: left;
    border-style: dashed;
    width: 50%;
    max-width: 50%;
}
#image{
    max-width: 100%;
    height: auto;
}

#product-title{
    padding-top: 6%;
    font-size: 3vw;
}

#product-price{
    padding-top:1%;
}

#product-stock{
    padding-top: 2%;
}

#addtocart-button{
    padding-top: 3%;
}