.list-group-mine .list-group-item {
  border-color: #9a0000;
  color: #9a0000;
}

.list-group-mine .list-group-item:hover {
  background-color: #9a0000;
  color: #f1f9fb;
  cursor: pointer;
}
.list-group-mine .active {
  background-color: #9a0000;
  color: #f1f9fb;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .list-group-mine .list-group-item {
    font-size:70%;
  }
}