.pagination-style .page-link{
    border-color:  #9a0000;
    color:  #9a0000;
}

.pagination-style .page-link:hover{
    background-color: #9a0000;
    color: #f1f9fb;
    cursor: pointer;
}

.current{
    background-color: #9a0000;
    color:#f1f9fb;
}

#pageText{
    color: #9a0000;
    padding-right: 1%;
    padding-top: 0.4%;
}